.btn{
    position: absolute;
    top:150px;
    right:500px;
}
select,option{
    margin: 12px 0;
    padding: 12px 10px;
    outline: none;
    width: 20%;
    border: 1px solid #bbb;
    border-radius: 4px;
    display: inline-block;
    color: black;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px #d2d2d2;
  }
  select{
    position:absolute;
    top: 45px;
    right: 460px;;
  }